/* Blockset Styling */
.blockSet > .block {
    border: none;
    padding: 0;
}

.blockSet .block img {
    margin-bottom: 0;
}

/* IE8 hacking */
.no-flexwrap .blockSet > .block:first-child {
}

.no-flexwrap .blockSet > .block img {
    width: 370px\8;
}

/* BLOCKSET / FLEXBOX */

/* Blockset Styling */
.blockSet > .block {
    border: none;
    padding: 0;
    text-align: center;
}

.blockSet + .blockSet {
    margin-top: 2%;
}

.blockSet .block img {
    margin-bottom: 0;
}

.mm_listSet,
.mm_blockSet,
.mm_blockSet.horizontal,
.mm_blockSet .ordering ul {
    text-align: center;
}

.mm_blockSet > ol,
.mm_listSet > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 100px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    vertical-align: top;
}

.flexwrap .blockSet,
.flexwrap [class*='blockSet'],
.flexwrap .mm_listSet,
.flexwrap .mm_blockSet,
.flexwrap .mm_blockSet.horizontal,
.flexwrap .mm_blockSet .ordering ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    text-align: center;
}

.blockSet .wordBox {
    width: 100%;
}

/*.rcfCarousel .block.item .block*/
.blockSet > .block,
.mm_blockSet > ol,
.mm_listSet > li,
.mm_blockSet.horizontal [class*='Container'] {
    min-width: 100px; /* two columns */
    margin: 0;
    margin-top: 1.5em;
    box-sizing: border-box;
}

.rcfCarousel .block.item .blockSet > .block {
    margin-top: 1.5em;
}

.mm_blockSet > ol {
    text-align: left;
}

.blockSet > ol:first-child {
    margin-left: 0;
}

.blockSet > ol:last-child {
    margin-right: 0;
}

/* smaller right margin for five or more columns */
.mm_col5 > .block,
.mm_col5 > li,
.mm_col5 > ol,
.mm_col6 > .block,
.mm_col6 > li,
.mm_col6 > ol,
.mm_col6.horizontal [class*='Container'] {
    min-width: 100px;
}

/* Remove top margin from the first row of items */
/* remove margin on the first two elements,
as default is two-column layout */
.blockSet > .block:nth-child(-n+2),
.mm_listSet > li:nth-child(-n+2),
.mm_blockSet > ol:nth-child(-n+2) {
    margin-top: 0;
}

.mm_col3 > .block:nth-child(-n+3),
.mm_col3 > ol:nth-child(-n+3),
.mm_col3 > li:nth-child(-n+3) {
    margin-top: 0;
}

.mm_col4 > .block:nth-child(-n+4),
.mm_col4 > ol:nth-child(-n+4),
.mm_col4 > li:nth-child(-n+4) {
    margin-top: 0;
}

.mm_col5 > .block:nth-child(-n+5),
.mm_col5 > ol:nth-child(-n+5),
.mm_col5 > li:nth-child(-n+5) {
    margin-top: 0;
}

.mm_col6 > .block:nth-child(-n+6),
.mm_col6 > ol:nth-child(-n+6),
.mm_col6 > li:nth-child(-n+6) {
    margin-top: 0;
}

/* Set up columns and margins */

/* IE8 - doesn't support nth-child, so we use margin on both sides. In order to keep the code as simple as possible, I've targetted IE8 and 9 together as there isn't an IE8-specific hack */
/* Everything else - spacing between columns is generated by adding right margin to each block then removing from the final column in each row */
/* First selector is for non-IE. Selectors with "\"  
/* No flexbox */
.blockSet[class*='col'] > .block,
.mm_blockSet[class$='col'] > .block,
.mm_blockSet[class$='col'] > ol,
.mm_listSet[class$='col'] > li,
[class*='mm_col'].matchingContainer.horizontal > div > [class*='Container'] {
    margin-right: 2%;
}

/* Remove right margin from last item in each row  - NOTE: requires wordBoxPosition="top" for droppables  */
.mm_col2[class*='Set'] > .block:nth-of-type(even),
.mm_col3[class*='Set'] > .block:nth-of-type(3n),
.mm_col4[class*='Set'] > .block:nth-of-type(4n),
.mm_col5[class*='Set'] > .block:nth-of-type(5n),
.mm_col6[class*='Set'] > .block:nth-of-type(6n),
[class*='mm_col'].matchingContainer.horizontal > div > [class*='Container']:last-child {
    margin-right: 0;
}

/*  columns widths (first selector default, second selector IE) */
.mm_col2 > .block,
.mm_col2 > ol,
.mm_col2 > li,
.mm_col2.horizontal [class*='Container'] {
    width: 49%;
}

.mm_col3 > .block,
.mm_col3 > ol,
.mm_col3 > li,
.mm_col3.horizontal [class*='Container'] {
    width: 32%;
}

.mm_col4 > .block,
.mm_col4 > ol,
.mm_col4 > li,
.mm_col4.horizontal [class*='Container'] {
    width: 23.5%;
}

.mm_col5 > .block,
.mm_col5 > ol,
.mm_col5 > li,
.mm_col5.horizontal [class*='Container'] {
    width: 18.4%;
}

.mm_col6 > .block,
.mm_col6 > ol,
.mm_col6 > li,
.mm_col6.horizontal [class*='Container'] {
    width: 15%;
}

/* Matching-specific blockSet styles */
.mm_blockSet.horizontal .matchItems,
.mm_blockSet.horizontal .matchTargets {
    width: 100%; /* Force both rows to fill horizontal space */
}

.mm_blockSet.horizontal [class*='Container'] {
    margin-top: 0;
}

/* flex content */
.blockSet > * img + *,
.blockSet > * .imageContainer + *
.mm_listSet > * img + *,
.blockSet > * .imageContainer + * {
    margin-top: 0.5em;
}

.mm_listSet > * img + .caption
.mm_listSet > * img + .caption {
    margin-top: 0;
}

/* FLEX START */
.mm_flexJustifyStart {
    justify-content: flex-start;
}

/* 3 col */
.mm_flexJustifyStart.mm_col3 > .block {
    margin-left: 0;
    margin-right: 0;
}

.mm_flexJustifyStart.mm_col3 > .block:nth-child(3n+2) {  
    margin-left: 5%;
    margin-right: 5%;
}

/* NO FLEXBOX */
.no-flexbox .blockSet {
    display: block;
}

.no-flexbox .blockSet > .block,
.no-flexbox .blockSet > li,
.no-flexbox .blockSet > ol {
    float: left;
}

/* clear left */
.no-flexbox .mm_col2> .block:nth-child(odd), .no-flexbox .mm_col2> li:nth-child(odd), .no-flexbox .mm_col2> ol:nth-child(odd),
.no-flexbox .mm_col3 > .block:nth-child(3n+1), .no-flexbox .mm_col3 > li:nth-child(3n+1), .no-flexbox .mm_col3 > ol:nth-child(3n+1),
.no-flexbox .mm_col4 > .block:nth-child(4n+1), .no-flexbox .mm_col4 > li:nth-child(4n+1), .no-flexbox .mm_col4 > ol:nth-child(4n+1),
.no-flexbox .mm_col5 > .block:nth-child(5n+1), .no-flexbox .mm_col5 > li:nth-child(5n+1), .no-flexbox .mm_col5 > ol:nth-child(5n+1),
.no-flexbox .mm_col6 > .block:nth-child(6n+1), .no-flexbox .mm_col6 > li:nth-child(6n+1), .no-flexbox .mm_col6 > ol:nth-child(6n+1) {
    clear: left;
}

/* Ad-hoc 2 column layout */
[class*='blockSet'] .mm_mainCol {
    width: 66%;
}

[class*='blockSet'] .mm_sideCol { 
    width: 32%;
}

[class*='blockSet'] .mm_mainCol,
[class*='blockSet'] .mm_sideCol,
[class*='blockSet'] .mm_mainCol768,
[class*='blockSet'] .mm_sideCol768 {
    text-align: left;
}

[class*='blockSet'] .mm_mainCol:first-child,
[class*='blockSet'] .mm_sideCol:first-child {
    margin-right: 1%; 
}

[class*='blockSet'] .mm_mainCol:last-child,
[class*='blockSet'] .mm_sideCol:last-child {
    margin-left: 1%; 
}

[class*='blockSet'] .mm_mainCol768:last-child,
[class*='blockSet'] .mm_sideCol768:last-child {
    margin-top: 1.75em;
}