/*** PARTIAL MODULE: THEME UNIT 3, 8 ***/

/*
colors
Unit: #d0684d
Tint: #f3997b
Dot: #c5624a
*/

.mm_unit9.activity:before {
	background-image: url(../images/background/9_bg_curve.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
	background-size: 100%;
}

/* MARKED */

.mm_unit9 .mm_audioDroppable li.dragItem,
.mm_unit9 .matchingContainer .matchItemContainer .matchItem,
.mm_unit9 .wordBox li.dragItem.selected,
.mm_unit9 .category li.dragItem.selected,
.mm_unit9 li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit9 .droppable .dragTarget.populated.selected,
.mm_unit9.mm_audioDroppable li.dragItem,
.mm_unit9.matchingContainer .matchItemContainer .matchItem,
.mm_unit9 .droppable .dropTarget,
.mm_unit9 .droppable .dragTarget,
.mm_unit9 .complexDroppable .dragTarget,
.mm_unit9 .category {
    border-color: #db5197;
}

.mm_unit9 .matchingContainer .matchItem.selected,
.mm_unit9 .matchingContainer .matchItemContainer .matchItem.selected {
    border-color: #db5197;
    border-style: solid;
}

.mm_unit9 .matchingContainer .matchTargetContainer .matchTarget {
    border-color: #e58cba;
    border-style: dotted;
}

.mm_unit9 .radioItemSelect.vertical .selectable,
.mm_unit9 .checkboxItemSelect.vertical .selectable,
.mm_unit9 .mobile .radioItemSelect.horizontal .selectable,
.mm_unit9 .mobile .checkboxItemSelect.horizontal .selectable,
.mm_unit9.mm_imageSelect .radioItemSelect.horizontal .selectable,
.mm_unit9.mm_imageSelect .checkboxItemSelect.horizontal .selectable,
.mm_unit9.mm_imageSelect .radioItemSelect.vertical .selectable,
.mm_unit9.mm_imageSelect .checkboxItemSelect.vertical .selectable,
.mm_unit9.mm_imageSelect .radioItemSelect.horizontal .selectable:first-child,
.mm_unit9.mm_imageSelect .checkboxItemSelect.horizontal .selectable:first-child,
.mm_unit9.mm_radioSelect .radioItemSelect.horizontal .selectable,
.mm_unit9.mm_radioSelect .checkboxItemSelect.horizontal .selectable,
.mm_unit9.mm_radioSelect .radioItemSelect.vertical .selectable,
.mm_unit9.mm_radioSelect .checkboxItemSelect.vertical .selectable,
.mm_unit9.mm_radioSelect .radioItemSelect.horizontal .selectable:first-child,
.mm_unit9.mm_radioSelect .checkboxItemSelect.horizontal .selectable:first-child,
.mm_unit9 .dragTarget,
.mm_unit9 .wordBox li.dragItem,
.mm_unit9 .category li.dragItem,
.mm_unit9 ul.ordering li {
    border-color: #fae8f2;
}

.mm_unit9 input.text:focus,
.mm_unit9 textarea.rcfTextArea:focus,
.mm_unit9 .typeinGroup input.typeinGroup:focus,
.mm_unit9 .verticalCrosswordContainer table input:focus,
.mm_unit9 .droppable .populated,
.mm_unit9 li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit9 .dragTarget.populated,
.mm_unit9 .droppable .dragTarget.populated,
.mm_unit9 .wordBox li.dragItem.selected,
.mm_unit9 .category li.dragItem,
.mm_unit9 ul.ordering li.ui-sortable-helper,
.mm_unit9 .categorise input[type="radio"]:checked,
.mm_unit9 .categorise input[type="checkbox"]:checked,
.mm_unit9.mm_imageSelect .radioItemSelect.horizontal .selected,
.mm_unit9.mm_imageSelect .checkboxItemSelect.horizontal .selected,
.mm_unit9.mm_imageSelect .radioItemSelect.vertical .selected,
.mm_unit9.mm_imageSelect .checkboxItemSelect.vertical .selected,
.mm_unit9.mm_imageSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit9.mm_imageSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit9.mm_radioSelect .radioItemSelect.horizontal .selected,
.mm_unit9.mm_radioSelect .checkboxItemSelect.horizontal .selected,
.mm_unit9.mm_radioSelect .radioItemSelect.vertical .selected,
.mm_unit9.mm_radioSelect .checkboxItemSelect.vertical .selected,
.mm_unit9.mm_radioSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit9.mm_radioSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit9 .mm_wsContainer {
    border-color: #db5197;
}

/* Matching */
.mm_unit9 .mm_wordItems .matchingContainer .matchItem.selected {
    color: #c5624a;
}

/*.mm_unit9 .matchingContainer svg.showCorrectAnswer path,
.mm_unit9 .matchingContainer svg.userAnswer path,
.mm_unit8 .matchingContainer svg.showCorrectAnswer path,
.mm_unit8 .matchingContainer svg.userAnswer path {
    stroke: #c5624a;
}*/

/*** UNMARKED ***/

/*Background*/

/*.mm_unit9 .pelmanismContainer .pelmanismAttempts,
.mm_unit9 .pelmanismContainer .timer,
.mm_unit9 .hangmanGame .triesRemaining,
.mm_unit9 .rcfMovingTargets,
.mm_unit9.mm_song .main > .block,
.mm_unit9.mm_video .main > .block {
    background-color: #c5624a;
}*/



/*Border*/

/*.mm_unit9 .colouringContainer,
.mm_unit9 .pelmanismContainer,
.mm_unit9 .hangmanContainer,
.mm_unit9 .rcfMovingTargets,
.mm_unit9.mm_song .main > .block {
    border: 5px solid #c5624a;
}

.mm_unit9 .wordBox,
.mm_unit9 .mm_wordBox,
.mm_unit9 .mm_wordBox,
.mm_unit9 .rcfWordSearchGridChosenWords .wordSearchWords {
    border-bottom: 4px dotted #c5624a;
}

.mm_unit9 .hangmanInteractionContainer {
    border-top: 3px dotted #f3997b;
}

.mm_unit9 .hangmanContainer .wordContainer .letterContainer {
    border: 2px dotted #f3997b;
}*/

.mm_unit9 .rcfMovingTargets {
    border: 3px solid #db5197;
}

.mm_unit9 .wordBox {
  border-bottom: 2px dotted #db5197;
}

/* Audio player */
.mm_unit9 .audioContainer ::-webkit-scrollbar-thumb {
    background-color: #db5197;
    -webkit-box-shadow: inset 0px 0px 10px 2px #db5197;
    -moz-box-shadow: inset 0px 0px 10px 2px #db5197;
    -ms-box-shadow: inset 0px 0px 10px 2px #db5197;
    box-shadow: inset 0px 0px 10px 2px #db5197;
}

.mm_unit9 .audio.large .audioInterface, .mm_unit9 .videoPlayerInterface {
    background-color: #db5197;
}

/*** Controls ***/

.mm_unit9 .owl-theme .owl-dots .owl-dot span,
.mm_unit9 .interactiveImageContainer.spotlight .reveal,
.mm_unit9 .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit9 .inlinePlayer a.audioPlayButton,
.mm_unit9 .inlinePlayer a.audioPauseButton {
    background-color: #db5197;
}

.mm_unit9 .interactiveImageContainer.spotlight .reveal:active,
.mm_unit9 .main .singleButton:active,
.mm_unit9 .rcfCarousel .singleButton:active,
.mm_unit9 .rcfCarousel .singleButton:active,
.mm_unit9 .rcfCarousel.owl-theme .owl-dots .owl-dot.active span,
.mm_unit9 .inlinePlayerContainer .inlinePlayer a:active {
    border-color: #db5197;
}

.mm_unit9 .interactiveImageContainer.spotlight .reveal,
.mm_unit9 .main .singleButton,
.mm_unit9 .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit9 .rcfCarousel .navLeftButton,
.mm_unit9 .rcfCarousel .navRightButton,
.mm_unit9 .owl-theme .owl-dots .owl-dot span,
.mm_unit9 .inlinePlayer a,
.mm_unit9 .pelmanismContainer .pelmanismAttempts,
.mm_unit9 .flashcardBlock .mm_button {
	background-color: #db5197;
}

/* hover */
.mm_unit9 .interactiveImageContainer.spotlight .reveal:hover,
.mm_unit9 .main .singleButton:hover,
.mm_unit9 .rcfCarousel .owl-nav [class*='owl-']:hover,
.mm_unit9 .rcfCarousel .navLeftButton:hover,
.mm_unit9 .rcfCarousel .navRightButton:hover,
.mm_unit9 .owl-theme .owl-dots .owl-dot span:hover,
.mm_unit9 .inlinePlayerContainer .inlinePlayer a:hover,
.mm_unit9 .flashcardBlock .mm_button:hover {
    background-color: #e58cba;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.mm_unit9 .cardContainer .card[data-audiolink] .front:hover img {
    content: url(../images/media/audio_pm_over9.png);
}

/* Backgrounds */

.mm_unit9.mm_song .main > .block {
	background-color: #fae8f2;
}
.mm_unit9.mm_song .mm_audio {
	background-color: #a3647e;
}

.mm_unit9.mm_video .main > .block {
    background-color: #fae8f2;
}

.mm_unit9 .rcfMovingTargets.complete .gameOver {
    background-color: rgba(255,255,255, 0.6);
}

/* Pelmanism */

.mm_unit9 .cardContainer .card .back {
    background-image: url(../../products/Level_1/assets/images/Bella_pelm.png);
}

.mm_unit9 .cardContainer .card .front img {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.mm_unit9 .cardContainer .card .back {
		background-color: #fae8f2;
}
.cardContainer .card .front {
    background-color: #fff;
}
.mm_unit9 .cardContainer .flipped.matched.userAnswer.card .front, .mm_unit9 .cardContainer .flipped.matched.userAnswer.card .back {
    border: 1px solid #db5197;
}

.mm_unit9 .cardContainer .front .imageContainer .caption,
.mm_unit9 .cardContainer .card .front p {
    background-color: #db5197;
    color: #FFF;
}


/* Pelmanism Complete */

.mm_unit9 .pelmanismContainer.gameOver.completed .gameOverStage {
    background-image: url(../images/complete_9.png)!important;
		background-size: auto;
		background-position: center;
}

.mm_unit9 .pelmanismContainer.completed {
	animation: pelmanismComplete9 1s 4 alternate;
	-webkit-animation: pelmanismComplete9 1s 4 alternate;
	-moz-animation: pelmanismComplete9 1s 4 alternate;
	-o-animation: pelmanismComplete9 1s 4 alternate;
}

.isIE.no-csstransforms3d .pelmanismContainer.completed {
	border: 10px solid #FF0000;
}

@-webkit-keyframes pelmanismComplete9 {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #db5197;
	}
}

@-o-keyframes pelmanismComplete9 {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #db5197;
	}
}

@keyframes pelmanismComplete9 {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #db5197;
	}
}

/* Moving Targets complete */

.mm_unit9 .rcfMovingTargets.complete {
	animation: movingTargetsComplete9 1s 4 alternate;
	-webkit-animation: movingTargetsComplete9 1s 4 alternate;
	-moz-animation: movingTargetsComplete9 1s 4 alternate;
	-o-animation: movingTargetsComplete9 1s 4 alternate;
}

@-webkit-keyframes movingTargetsComplete9 {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #db5197;
	}
}

@-o-keyframes movingTargetsComplete9 {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #db5197;
	}
}

@keyframes movingTargetsComplete9 {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #db5197;
	}
}
