/*** PARTIAL MODULE: THEME UNIT 1, 6 ***/

/*
colors
Unit: #a1c04a
Tint: #abcc5b
Dot: #9ab84b
*/

.mm_unit5:not(.mm_story):not(.mm_activityFirst).activity:before,
.mm_unit10:not(.mm_story):not(.mm_activityFirst).activity:before {
    background-image: url(../images/background/5_bg_curveSimple.png);
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.mm_unit5.mm_activityFirst:before,
.mm_unit10.mm_activityFirst:before {
    background-image: url(../images/background/5_bg_firstActivityTop.png),
                      url(../images/background/5_bg_firstActivityBottom.png);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100%;
}

.mm_unit5.mm_gridlines:before,
.mm_unit10.mm_gridlines:before {
    background-image: url(../images/background/5_bg_curveSimple.png),
                      url(../images/background/bg_gridlines.png) !important;
    background-repeat: no-repeat, repeat !important;
    background-size: 100%, auto !important;
}

/*** MARKED ***/

.mm_unit5 .mm_audioDroppable li.dragItem,
.mm_unit5 .matchingContainer .matchItemContainer .matchItem,
.mm_unit5 .wordBox li.dragItem.selected,
.mm_unit5 .category li.dragItem.selected,
.mm_unit5 li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit5 .droppable .dragTarget.populated.selected,
.mm_unit5.mm_audioDroppable li.dragItem,
.mm_unit5.matchingContainer .matchItemContainer .matchItem,
.mm_unit5 .droppable .dropTarget,
.mm_unit5 .droppable .dragTarget,
.mm_unit5 .complexDroppable .dragTarget,
.mm_unit5 .category,
.mm_unit10 .mm_audioDroppable li.dragItem,
.mm_unit10 .matchingContainer .matchItemContainer .matchItem,
.mm_unit10 .wordBox li.dragItem.selected,
.mm_unit10 .category li.dragItem.selected,
.mm_unit10 li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit10 .droppable .dragTarget.populated.selected,
.mm_unit10.mm_audioDroppable li.dragItem,
.mm_unit10.matchingContainer .matchItemContainer .matchItem,
.mm_unit10 .droppable .dropTarget,
.mm_unit10 .droppable .dragTarget,
.mm_unit10 .complexDroppable .dragTarget,
.mm_unit10 .category {
    border-color: #abcc5b;
}

.mm_unit5 .matchingContainer .matchItem.selected,
.mm_unit5 .matchingContainer .matchItemContainer .matchItem.selected,
.mm_unit10 .matchingContainer .matchItem.selected,
.mm_unit10 .matchingContainer .matchItemContainer .matchItem.selected {
    border-color: #a1c04a;
    border-style: solid;
}

.mm_unit5 input.text:focus,
.mm_unit5 textarea.rcfTextArea:focus,
.mm_unit5 .typeinGroup input.typeinGroup:focus,
.mm_unit5 .verticalCrosswordContainer table input:focus,
.mm_unit5 .droppable .populated,
.mm_unit5 li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit5 .dragTarget.populated,
.mm_unit5 .droppable .dragTarget.populated,
.mm_unit5 .wordBox li.dragItem.selected,
.mm_unit5 .category li.dragItem,
.mm_unit5 ul.ordering li.ui-sortable-helper,
.mm_unit5 .categorise input[type="radio"]:checked,
.mm_unit5 .categorise input[type="checkbox"]:checked,
.mm_unit5.mm_imageSelect .radioItemSelect.horizontal .selected,
.mm_unit5.mm_imageSelect .checkboxItemSelect.horizontal .selected,
.mm_unit5.mm_imageSelect .radioItemSelect.vertical .selected,
.mm_unit5.mm_imageSelect .checkboxItemSelect.vertical .selected,
.mm_unit5.mm_imageSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit5.mm_imageSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit5.mm_radioSelect .radioItemSelect.horizontal .selected,
.mm_unit5.mm_radioSelect .checkboxItemSelect.horizontal .selected,
.mm_unit5.mm_radioSelect .radioItemSelect.vertical .selected,
.mm_unit5.mm_radioSelect .checkboxItemSelect.vertical .selected,
.mm_unit5.mm_radioSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit5.mm_radioSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit5 .mm_wsContainer,
.mm_unit10 input.text:focus,
.mm_unit10 textarea.rcfTextArea:focus,
.mm_unit10 .typeinGroup input.typeinGroup:focus,
.mm_unit10 .verticalCrosswordContainer table input:focus,
.mm_unit10 .droppable .populated,
.mm_unit10 li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit10 .dragTarget.populated,
.mm_unit10 .droppable .dragTarget.populated,
.mm_unit10 .wordBox li.dragItem.selected,
.mm_unit10 .category li.dragItem,
.mm_unit10 ul.ordering li.ui-sortable-helper,
.mm_unit10 .categorise input[type="radio"]:checked,
.mm_unit10 .categorise input[type="checkbox"]:checked,
.mm_unit10.mm_imageSelect .radioItemSelect.horizontal .selected,
.mm_unit10.mm_imageSelect .checkboxItemSelect.horizontal .selected,
.mm_unit10.mm_imageSelect .radioItemSelect.vertical .selected,
.mm_unit10.mm_imageSelect .checkboxItemSelect.vertical .selected,
.mm_unit10.mm_imageSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit10.mm_imageSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit10.mm_radioSelect .radioItemSelect.horizontal .selected,
.mm_unit10.mm_radioSelect .checkboxItemSelect.horizontal .selected,
.mm_unit10.mm_radioSelect .radioItemSelect.vertical .selected,
.mm_unit10.mm_radioSelect .checkboxItemSelect.vertical .selected,
.mm_unit10.mm_radioSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit10.mm_radioSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit10 .mm_wsContainer {
    border-color: #9ab84b;
}

/* Matching */
.mm_unit5 .mm_wordItems .matchingContainer .matchItem.selected,
.mm_unit10 .mm_wordItems .matchingContainer .matchItem.selected {
    color: #9ab84b;
}

/*.mm_unit5 .matchingContainer svg.showCorrectAnswer path,
.mm_unit5 .matchingContainer svg.userAnswer path,
.mm_unit10 .matchingContainer svg.showCorrectAnswer path,
.mm_unit10 .matchingContainer svg.userAnswer path {
    stroke: #9ab84b;
}*/

/*** UNMARKED ***/

/*Background*/

.mm_unit5 .pelmanismContainer .pelmanismAttempts,
.mm_unit10 .pelmanismContainer .pelmanismAttempts,
.mm_unit5 .pelmanismContainer .timer,
.mm_unit10 .pelmanismContainer .timer,
.mm_unit5 .hangmanGame .triesRemaining,
.mm_unit10 .hangmanGame .triesRemaining,
.mm_unit5 .rcfMovingTargets,
.mm_unit10 .rcfMovingTargets,
.mm_unit5.mm_song .main > .block,
.mm_unit10.mm_song .main > .block,
.mm_unit5.mm_video .main > .block,
.mm_unit10.mm_video .main > .block {
    background-color: #9ab84b;
}

.mm_unit5.mm_song .mm_audio,
.mm_unit10.mm_song .mm_audio {
    background-color: #abcc5b;
}

.mm_unit5 .rcfMovingTargets.complete .gameOver,
.mm_unit10 .rcfMovingTargets.complete .gameOver {
    background-color: rgba(255,255,255, 0.6);
}

/*Border*/

.mm_unit5 .pelmanismContainer,
.mm_unit10 .pelmanismContainer,
.mm_unit5 .colouringContainer,
.mm_unit10 .colouringContainer,
.mm_unit5 .hangmanContainer,
.mm_unit10 .hangmanContainer,
.mm_unit5 .rcfMovingTargets,
.mm_unit10 .rcfMovingTargets,
.mm_unit5.mm_song .main > .block,
.mm_unit10.mm_song .main > .block {
    border: 5px solid #9ab84b;
}

.mm_unit5 .wordBox,
.mm_unit5 .mm_wordBox,
.mm_unit5 .mm_wordBox,
.mm_unit5 .rcfWordSearchGridChosenWords .wordSearchWords,
.mm_unit10 .wordBox,
.mm_unit10 .mm_wordBox,
.mm_unit10 .mm_wordBox,
.mm_unit10 .rcfWordSearchGridChosenWords .wordSearchWords {
    border-bottom: 4px dotted #9ab84b;
}

.mm_unit5 .hangmanInteractionContainer,
.mm_unit10 .hangmanInteractionContainer {
    border-top: 3px dotted #abcc5b;
}

.mm_unit5 .hangmanContainer .wordContainer .letterContainer,
.mm_unit10 .hangmanContainer .wordContainer .letterContainer {
    border: 2px dotted #abcc5b;
}

/* Pelmanism */

.mm_unit5 .cardContainer .front .imageContainer .caption,
.mm_unit10 .cardContainer .front .imageContainer .caption,
.mm_unit5 .cardContainer .card .front p,
.mm_unit10 .cardContainer .card .front p {
    background-color: #9ab84b;
    background-color: rgba(154, 184, 75, 0.93);
    color: #fff;
}

.mm_unit5 .audioContainer ::-webkit-scrollbar-thumb,
.mm_unit10 .audioContainer ::-webkit-scrollbar-thumb {
    background-color: #9ab84b;
    -webkit-box-shadow: inset 0px 0px 10px 3px #abcc5b;
    -moz-box-shadow: inset 0px 0px 10px 3px #abcc5b;
    -ms-box-shadow: inset 0px 0px 10px 3px #abcc5b;
    box-shadow: inset 0px 0px 10px 3px #abcc5b;
}