/*** PARTIAL MODULE: THEME UNIT 3, 8 ***/

/*
colors
Unit: #d0684d
Tint: #f3997b
Dot: #c5624a
*/

.mm_unit8.mm_easter.activity:before {
	background-image: url(../images/background/8_bg_curve_easter.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
	background-size: 100%;
}
.mm_unit8.mm_easter.mm_video.activity:before {
    background-image: url(../images/background/8_bg_curve_easter.png),
 url(../images/background/8_bg_curve_bottom_easter.png);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100%;
}

/* MARKED */

.mm_unit8.mm_easter .mm_audioDroppable li.dragItem,
.mm_unit8.mm_easter .matchingContainer .matchItemContainer .matchItem,
.mm_unit8.mm_easter .wordBox li.dragItem.selected,
.mm_unit8.mm_easter .category li.dragItem.selected,
.mm_unit8.mm_easter li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit8.mm_easter .droppable .dragTarget.populated.selected,
.mm_unit8.mm_easter.mm_audioDroppable li.dragItem,
.mm_unit8.mm_easter.matchingContainer .matchItemContainer .matchItem,
.mm_unit8.mm_easter .droppable .dropTarget,
.mm_unit8.mm_easter .droppable .dragTarget,
.mm_unit8.mm_easter .complexDroppable .dragTarget,
.mm_unit8.mm_easter .category {
    border-color: #ffe44a;
}

.mm_unit8.mm_easter .matchingContainer .matchItem.selected,
.mm_unit8.mm_easter .matchingContainer .matchItemContainer .matchItem.selected {
    border-color: #ffe44a;
    border-style: solid;
}

.mm_unit8.mm_easter .matchingContainer .matchTargetContainer .matchTarget {
    border-color: #fff1aa;
    border-style: dotted;
}

.mm_unit8.mm_easter .radioItemSelect.vertical .selectable,
.mm_unit8.mm_easter .checkboxItemSelect.vertical .selectable,
.mm_unit8.mm_easter .mobile .radioItemSelect.horizontal .selectable,
.mm_unit8.mm_easter .mobile .checkboxItemSelect.horizontal .selectable,
.mm_unit8.mm_easter.mm_imageSelect .radioItemSelect.horizontal .selectable,
.mm_unit8.mm_easter.mm_imageSelect .checkboxItemSelect.horizontal .selectable,
.mm_unit8.mm_easter.mm_imageSelect .radioItemSelect.vertical .selectable,
.mm_unit8.mm_easter.mm_imageSelect .checkboxItemSelect.vertical .selectable,
.mm_unit8.mm_easter.mm_imageSelect .radioItemSelect.horizontal .selectable:first-child,
.mm_unit8.mm_easter.mm_imageSelect .checkboxItemSelect.horizontal .selectable:first-child,
.mm_unit8.mm_easter.mm_radioSelect .radioItemSelect.horizontal .selectable,
.mm_unit8.mm_easter.mm_radioSelect .checkboxItemSelect.horizontal .selectable,
.mm_unit8.mm_easter.mm_radioSelect .radioItemSelect.vertical .selectable,
.mm_unit8.mm_easter.mm_radioSelect .checkboxItemSelect.vertical .selectable,
.mm_unit8.mm_easter.mm_radioSelect .radioItemSelect.horizontal .selectable:first-child,
.mm_unit8.mm_easter.mm_radioSelect .checkboxItemSelect.horizontal .selectable:first-child,
.mm_unit8.mm_easter .dragTarget,
.mm_unit8.mm_easter .wordBox li.dragItem,
.mm_unit8.mm_easter .category li.dragItem,
.mm_unit8.mm_easter ul.ordering li {
    border-color: #fff5c4;
}

.mm_unit8.mm_easter input.text:focus,
.mm_unit8.mm_easter textarea.rcfTextArea:focus,
.mm_unit8.mm_easter .typeinGroup input.typeinGroup:focus,
.mm_unit8.mm_easter .verticalCrosswordContainer table input:focus,
.mm_unit8.mm_easter .droppable .populated,
.mm_unit8.mm_easter li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit8.mm_easter .dragTarget.populated,
.mm_unit8.mm_easter .droppable .dragTarget.populated,
.mm_unit8.mm_easter .wordBox li.dragItem.selected,
.mm_unit8.mm_easter .category li.dragItem,
.mm_unit8.mm_easter ul.ordering li.ui-sortable-helper,
.mm_unit8.mm_easter .categorise input[type="radio"]:checked,
.mm_unit8.mm_easter .categorise input[type="checkbox"]:checked,
.mm_unit8.mm_easter.mm_imageSelect .radioItemSelect.horizontal .selected,
.mm_unit8.mm_easter.mm_imageSelect .checkboxItemSelect.horizontal .selected,
.mm_unit8.mm_easter.mm_imageSelect .radioItemSelect.vertical .selected,
.mm_unit8.mm_easter.mm_imageSelect .checkboxItemSelect.vertical .selected,
.mm_unit8.mm_easter.mm_imageSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit8.mm_easter.mm_imageSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit8.mm_easter.mm_radioSelect .radioItemSelect.horizontal .selected,
.mm_unit8.mm_easter.mm_radioSelect .checkboxItemSelect.horizontal .selected,
.mm_unit8.mm_easter.mm_radioSelect .radioItemSelect.vertical .selected,
.mm_unit8.mm_easter.mm_radioSelect .checkboxItemSelect.vertical .selected,
.mm_unit8.mm_easter.mm_radioSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit8.mm_easter.mm_radioSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit8.mm_easter .mm_wsContainer {
    border-color: #ffe44a;
}

/* Matching */
.mm_unit8.mm_easter .mm_wordItems .matchingContainer .matchItem.selected {
    color: #c5624a;
}

/*.mm_unit8.mm_easter .matchingContainer svg.showCorrectAnswer path,
.mm_unit8.mm_easter .matchingContainer svg.userAnswer path,
.mm_unit8 .matchingContainer svg.showCorrectAnswer path,
.mm_unit8 .matchingContainer svg.userAnswer path {
    stroke: #c5624a;
}*/

/*** UNMARKED ***/

/*Background*/

/*.mm_unit8.mm_easter .pelmanismContainer .pelmanismAttempts,
.mm_unit8.mm_easter .pelmanismContainer .timer,
.mm_unit8.mm_easter .hangmanGame .triesRemaining,
.mm_unit8.mm_easter .rcfMovingTargets,
.mm_unit8.mm_easter.mm_song .main > .block,
.mm_unit8.mm_easter.mm_video .main > .block {
    background-color: #c5624a;
}*/



/*Border*/

/*.mm_unit8.mm_easter .colouringContainer,
.mm_unit8.mm_easter .pelmanismContainer,
.mm_unit8.mm_easter .hangmanContainer,
.mm_unit8.mm_easter .rcfMovingTargets,
.mm_unit8.mm_easter.mm_song .main > .block {
    border: 5px solid #c5624a;
}

.mm_unit8.mm_easter .wordBox,
.mm_unit8.mm_easter .mm_wordBox,
.mm_unit8.mm_easter .mm_wordBox,
.mm_unit8.mm_easter .rcfWordSearchGridChosenWords .wordSearchWords {
    border-bottom: 4px dotted #c5624a;
}

.mm_unit8.mm_easter .hangmanInteractionContainer {
    border-top: 3px dotted #f3997b;
}

.mm_unit8.mm_easter .hangmanContainer .wordContainer .letterContainer {
    border: 2px dotted #f3997b;
}*/

.mm_unit8.mm_easter .rcfMovingTargets {
    border: 3px solid #ffe44a;
}

.mm_unit8.mm_easter .wordBox {
  border-bottom: 2px dotted #ffe44a;
}

/* Audio player */
.mm_unit8.mm_easter .audioContainer ::-webkit-scrollbar-thumb {
    background-color: #ffe44a;
    -webkit-box-shadow: inset 0px 0px 10px 2px #ffe44a;
    -moz-box-shadow: inset 0px 0px 10px 2px #ffe44a;
    -ms-box-shadow: inset 0px 0px 10px 2px #ffe44a;
    box-shadow: inset 0px 0px 10px 2px #ffe44a;
}

.mm_unit8.mm_easter .audio.large .audioInterface, .mm_unit8.mm_easter .videoPlayerInterface {
    background-color: #ffe44a;
}

/*** Controls ***/

.mm_unit8.mm_easter .owl-theme .owl-dots .owl-dot span,
.mm_unit8.mm_easter .interactiveImageContainer.spotlight .reveal,
.mm_unit8.mm_easter .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit8.mm_easter .inlinePlayer a.audioPlayButton,
.mm_unit8.mm_easter .inlinePlayer a.audioPauseButton {
    background-color: #ffe44a;
}

.mm_unit8.mm_easter .interactiveImageContainer.spotlight .reveal:active,
.mm_unit8.mm_easter .main .singleButton:active,
.mm_unit8.mm_easter .rcfCarousel .singleButton:active,
.mm_unit8.mm_easter .rcfCarousel .singleButton:active,
.mm_unit8.mm_easter .rcfCarousel.owl-theme .owl-dots .owl-dot.active span,
.mm_unit8.mm_easter .inlinePlayerContainer .inlinePlayer a:active {
    border-color: #ffe44a;
}

.mm_unit8.mm_easter .interactiveImageContainer.spotlight .reveal,
.mm_unit8.mm_easter .main .singleButton,
.mm_unit8.mm_easter .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit8.mm_easter .rcfCarousel .navLeftButton,
.mm_unit8.mm_easter .rcfCarousel .navRightButton,
.mm_unit8.mm_easter .owl-theme .owl-dots .owl-dot span,
.mm_unit8.mm_easter .inlinePlayer a,
.mm_unit8.mm_easter .pelmanismContainer .pelmanismAttempts,
.mm_unit8.mm_easter .flashcardBlock .mm_button {
	background-color: #ffe44a;
}

.mm_unit8.mm_easter .rcfCarousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #fff;
}

/* hover */
.mm_unit8.mm_easter .interactiveImageContainer.spotlight .reveal:hover,
.mm_unit8.mm_easter .main .singleButton:hover,
.mm_unit8.mm_easter .rcfCarousel .owl-nav [class*='owl-']:hover,
.mm_unit8.mm_easter .rcfCarousel .navLeftButton:hover,
.mm_unit8.mm_easter .rcfCarousel .navRightButton:hover,
.mm_unit8.mm_easter .owl-theme .owl-dots .owl-dot span:hover,
.mm_unit8.mm_easter .inlinePlayerContainer .inlinePlayer a:hover,
.mm_unit8.mm_easter .flashcardBlock .mm_button:hover {
    background-color: #fff1aa;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.mm_unit8.mm_easter .cardContainer .card[data-audiolink] .front:hover img {
    content: url(../images/media/audio_pm_over_1.png);
}

/* Backgrounds */

.mm_unit8.mm_easter.mm_song .main > .block {
	background-color: #fff5c4;
}
.mm_unit8.mm_easter.mm_song .mm_audio {
	background-color: #a3647e;
}

.mm_unit8.mm_easter.mm_video .main > .block {
    background-color: #fff5c4;
}

.mm_unit8.mm_easter .rcfMovingTargets.complete .gameOver {
    background-color: rgba(255,255,255, 0.6);
}

/* Pelmanism */
.mm_unit8.mm_easter .cardContainer .card .front img {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.mm_unit8.mm_easter .cardContainer .card .back {
		background-color: #fff5c4;
}
.cardContainer .card .front {
    background-color: #fff;
}
.mm_unit8.mm_easter .cardContainer .flipped.matched.userAnswer.card .front, .mm_unit8.mm_easter .cardContainer .flipped.matched.userAnswer.card .back {
    border: 1px solid #ffe44a;
}

.mm_unit8.mm_easter .cardContainer .front .imageContainer .caption,
.mm_unit8.mm_easter .cardContainer .card .front p {
    background-color: #66acb4;
    background-color: rgba(102, 172, 180, 0.93);
    color: #FFF;
}


/* Pelmanism Complete */

.mm_unit8.mm_easter .pelmanismContainer.completed {
	animation: pelmanismComplete8e 1s 4 alternate;
	-webkit-animation: pelmanismComplete8e 1s 4 alternate;
	-moz-animation: pelmanismComplete8e 1s 4 alternate;
	-o-animation: pelmanismComplete8e 1s 4 alternate;
}

.isIE.no-csstransforms3d .pelmanismContainer.completed {
	border: 10px solid #FF0000;
}

@-webkit-keyframes pelmanismComplete8e {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #ffe44a;
	}
}

@-o-keyframes pelmanismComplete8e {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #ffe44a;
	}
}

@keyframes pelmanismComplete8e {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #ffe44a;
	}
}

/* Moving Targets complete */

.mm_unit8.mm_easter .rcfMovingTargets.complete {
	animation: movingTargetsComplete8e 1s 4 alternate;
	-webkit-animation: movingTargetsComplete8e 1s 4 alternate;
	-moz-animation: movingTargetsComplete8e 1s 4 alternate;
	-o-animation: movingTargetsComplete8e 1s 4 alternate;
}

@-webkit-keyframes movingTargetsComplete8e {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #ffe44a;
	}
}

@-o-keyframes movingTargetsComplete8e {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #ffe44a;
	}
}

@keyframes movingTargetsComplete8e {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #ffe44a;
	}
}
