/*** PARTIAL MODULE: THEME UNIT 0 ***/

/*
colors
Unit: #8a8bc1
Tint: #989acd
Dot: #8484b9
*/

.mm_unit0:not(.mm_story):not(.mm_activityFirst).activity:before {
	background-image: url(../images/background/0_bg_curve.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
	background-size: 100%;
}


/* Audio player */
.mm_unit0 .audioContainer ::-webkit-scrollbar-thumb {
    background-color: #802f51;
    -webkit-box-shadow: inset 0px 0px 10px 3px #802f51;
    -moz-box-shadow: inset 0px 0px 10px 3px #802f51;
    -ms-box-shadow: inset 0px 0px 10px 3px #802f51;
    box-shadow: inset 0px 0px 10px 3px #802f51;
}

/*** Controls ***/

.mm_unit0 .rcfMovingTargets {
    border: 3px solid #802f51;
}

.mm_unit0 .owl-theme .owl-dots .owl-dot span,
.mm_unit0 .interactiveImageContainer.spotlight .reveal,
.mm_unit0 .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit0 .inlinePlayer a.audioPlayButton,
.mm_unit0 .inlinePlayer a.audioPauseButton {
    background-color: #802f51;
}

.mm_unit0 .interactiveImageContainer.spotlight .reveal:active,
.mm_unit0 .main .singleButton:active,
.mm_unit0 .rcfCarousel .singleButton:active,
.mm_unit0 .rcfCarousel .singleButton:active,
.mm_unit0 .rcfCarousel.owl-theme .owl-dots .owl-dot.active span,
.mm_unit0 .inlinePlayerContainer .inlinePlayer a:active{
    border-color: #802f51;
}

.mm_unit0 .interactiveImageContainer.spotlight .reveal,
.mm_unit0 .main .singleButton,
.mm_unit0 .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit0 .rcfCarousel .navLeftButton,
.mm_unit0 .rcfCarousel .navRightButton,
.mm_unit0 .owl-theme .owl-dots .owl-dot span,
.mm_unit0 .inlinePlayer a,
.mm_unit0 .pelmanismContainer .pelmanismAttempts,
.mm_unit0 .flashcardBlock .mm_button {
	background-color: #802f51;
}

/* hover */
.mm_unit0 .interactiveImageContainer.spotlight .reveal:hover,
.mm_unit0 .main .singleButton:hover,
.mm_unit0 .rcfCarousel .owl-nav [class*='owl-']:hover,
.mm_unit0 .rcfCarousel .navLeftButton:hover,
.mm_unit0 .rcfCarousel .navRightButton:hover,
.mm_unit0 .owl-theme .owl-dots .owl-dot span:hover,
.mm_unit0 .inlinePlayerContainer .inlinePlayer a:hover,
.mm_unit0 .flashcardBlock .mm_button:hover {
    background-color: #a3647e;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.mm_unit0 .cardContainer .card[data-audiolink] .front:hover img {
    content: url(../images/media/audio_pm_over_0.png);
}

/* Backgrounds */

.mm_unit0.mm_song .main > .block {
	background-color: #e2cbd6;
}
.mm_unit0.mm_song .mm_audio {
	background-color: #a3647e;
}

/* Pelmanism */
.mm_unit0 .cardContainer .card .front img {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.mm_unit0 .cardContainer .card .back {
		background-color: #e2cbd6;
}
.cardContainer .card .front {
    background-color: #fff;
}
.flipped.matched.userAnswer {
    border-color: #802f51;
}
.cardContainer .flipped.matched.userAnswer.card .front, .cardContainer .flipped.matched.userAnswer.card .back {
    border: 1px solid #802f51;
}

/* Pelmanism Complete */

.mm_unit0 .pelmanismContainer.gameOver.completed .gameOverStage {
	background-image: url(../images/complete_0.png)!important;
	background-color: rgba(255,255,255, 0.4);
}

.mm_unit0 .pelmanismContainer.completed {
	animation: pelmanismComplete0 1s 4 alternate;
	-webkit-animation: pelmanismComplete0 1s 4 alternate;
	-moz-animation: pelmanismComplete0 1s 4 alternate;
	-o-animation: pelmanismComplete0 1s 4 alternate;
}

.isIE.no-csstransforms3d .pelmanismContainer.completed {
	border: 10px solid #802f51;
}

@-webkit-keyframes pelmanismComplete0 {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #802f51;
	}
}

@-o-keyframes pelmanismComplete0 {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #802f51;
	}
}

@keyframes pelmanismComplete0 {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #802f51;
	}
}

/* Moving Targets Complete */

.mm_unit0 .rcfMovingTargets.complete .gameOver {
	background-image: url(../images/complete_0.png)!important;
}

.mm_unit0 .rcfMovingTargets.complete .gameOver {
	background-color: rgba(255,255,255, 0.9);
}

.mm_unit0 .rcfMovingTargets.complete {
	animation: movingTargetsComplete0 1s 4 alternate;
	-webkit-animation: movingTargetsComplete0 1s 4 alternate;
	-moz-animation: movingTargetsComplete0 1s 4 alternate;
	-o-animation: movingTargetsComplete0 1s 4 alternate;
}

@-webkit-keyframes movingTargetsComplete0 {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #802f51;
	}
}

@-o-keyframes movingTargetsComplete0 {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #802f51;
	}
}

@keyframes movingTargetsComplete0 {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #802f51;
	}
}
