/*** PARTIAL MODULE: THEME UNIT 3, 8 ***/

/*
colors
Unit: #d0684d
Tint: #f3997b
Dot: #c5624a
*/

.mm_unit8.mm_halloween.activity:before {
	background-image: url(../images/background/8_bg_curve_halloween.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
	background-size: 100%;
}
.mm_unit8.mm_halloween.mm_video.activity:before {
    background-image: url(../images/background/7_bg_curve.png),
 url(../images/background/7_bg_curve_bottom.png);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100%;
}

/* MARKED */

.mm_unit8.mm_halloween .mm_audioDroppable li.dragItem,
.mm_unit8.mm_halloween .matchingContainer .matchItemContainer .matchItem,
.mm_unit8.mm_halloween .wordBox li.dragItem.selected,
.mm_unit8.mm_halloween .category li.dragItem.selected,
.mm_unit8.mm_halloween li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit8.mm_halloween .droppable .dragTarget.populated.selected,
.mm_unit8.mm_halloween.mm_audioDroppable li.dragItem,
.mm_unit8.mm_halloween.matchingContainer .matchItemContainer .matchItem,
.mm_unit8.mm_halloween .droppable .dropTarget,
.mm_unit8.mm_halloween .droppable .dragTarget,
.mm_unit8.mm_halloween .complexDroppable .dragTarget,
.mm_unit8.mm_halloween .category {
    border-color: #f07f30;
}

.mm_unit8.mm_halloween .matchingContainer .matchItem.selected,
.mm_unit8.mm_halloween .matchingContainer .matchItemContainer .matchItem.selected {
    border-color: #f07f30;
    border-style: solid;
}

.mm_unit8.mm_halloween .matchingContainer .matchTargetContainer .matchTarget {
    border-color: #f7ad74;
    border-style: dotted;
}

.mm_unit8.mm_halloween .radioItemSelect.vertical .selectable,
.mm_unit8.mm_halloween .checkboxItemSelect.vertical .selectable,
.mm_unit8.mm_halloween .mobile .radioItemSelect.horizontal .selectable,
.mm_unit8.mm_halloween .mobile .checkboxItemSelect.horizontal .selectable,
.mm_unit8.mm_halloween.mm_imageSelect .radioItemSelect.horizontal .selectable,
.mm_unit8.mm_halloween.mm_imageSelect .checkboxItemSelect.horizontal .selectable,
.mm_unit8.mm_halloween.mm_imageSelect .radioItemSelect.vertical .selectable,
.mm_unit8.mm_halloween.mm_imageSelect .checkboxItemSelect.vertical .selectable,
.mm_unit8.mm_halloween.mm_imageSelect .radioItemSelect.horizontal .selectable:first-child,
.mm_unit8.mm_halloween.mm_imageSelect .checkboxItemSelect.horizontal .selectable:first-child,
.mm_unit8.mm_halloween.mm_radioSelect .radioItemSelect.horizontal .selectable,
.mm_unit8.mm_halloween.mm_radioSelect .checkboxItemSelect.horizontal .selectable,
.mm_unit8.mm_halloween.mm_radioSelect .radioItemSelect.vertical .selectable,
.mm_unit8.mm_halloween.mm_radioSelect .checkboxItemSelect.vertical .selectable,
.mm_unit8.mm_halloween.mm_radioSelect .radioItemSelect.horizontal .selectable:first-child,
.mm_unit8.mm_halloween.mm_radioSelect .checkboxItemSelect.horizontal .selectable:first-child,
.mm_unit8.mm_halloween .dragTarget,
.mm_unit8.mm_halloween .wordBox li.dragItem,
.mm_unit8.mm_halloween .category li.dragItem,
.mm_unit8.mm_halloween ul.ordering li {
    border-color: #fde2cd;
}

.mm_unit8.mm_halloween input.text:focus,
.mm_unit8.mm_halloween textarea.rcfTextArea:focus,
.mm_unit8.mm_halloween .typeinGroup input.typeinGroup:focus,
.mm_unit8.mm_halloween .verticalCrosswordContainer table input:focus,
.mm_unit8.mm_halloween .droppable .populated,
.mm_unit8.mm_halloween li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit8.mm_halloween .dragTarget.populated,
.mm_unit8.mm_halloween .droppable .dragTarget.populated,
.mm_unit8.mm_halloween .wordBox li.dragItem.selected,
.mm_unit8.mm_halloween .category li.dragItem,
.mm_unit8.mm_halloween ul.ordering li.ui-sortable-helper,
.mm_unit8.mm_halloween .categorise input[type="radio"]:checked,
.mm_unit8.mm_halloween .categorise input[type="checkbox"]:checked,
.mm_unit8.mm_halloween.mm_imageSelect .radioItemSelect.horizontal .selected,
.mm_unit8.mm_halloween.mm_imageSelect .checkboxItemSelect.horizontal .selected,
.mm_unit8.mm_halloween.mm_imageSelect .radioItemSelect.vertical .selected,
.mm_unit8.mm_halloween.mm_imageSelect .checkboxItemSelect.vertical .selected,
.mm_unit8.mm_halloween.mm_imageSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit8.mm_halloween.mm_imageSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit8.mm_halloween.mm_radioSelect .radioItemSelect.horizontal .selected,
.mm_unit8.mm_halloween.mm_radioSelect .checkboxItemSelect.horizontal .selected,
.mm_unit8.mm_halloween.mm_radioSelect .radioItemSelect.vertical .selected,
.mm_unit8.mm_halloween.mm_radioSelect .checkboxItemSelect.vertical .selected,
.mm_unit8.mm_halloween.mm_radioSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit8.mm_halloween.mm_radioSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit8.mm_halloween .mm_wsContainer {
    border-color: #f07f30;
}

/* Matching */
.mm_unit8.mm_halloween .mm_wordItems .matchingContainer .matchItem.selected {
    color: #c5624a;
}

/*.mm_unit8.mm_halloween .matchingContainer svg.showCorrectAnswer path,
.mm_unit8.mm_halloween .matchingContainer svg.userAnswer path,
.mm_unit8 .matchingContainer svg.showCorrectAnswer path,
.mm_unit8 .matchingContainer svg.userAnswer path {
    stroke: #c5624a;
}*/

/*** UNMARKED ***/

/*Background*/

/*.mm_unit8.mm_halloween .pelmanismContainer .pelmanismAttempts,
.mm_unit8.mm_halloween .pelmanismContainer .timer,
.mm_unit8.mm_halloween .hangmanGame .triesRemaining,
.mm_unit8.mm_halloween .rcfMovingTargets,
.mm_unit8.mm_halloween.mm_song .main > .block,
.mm_unit8.mm_halloween.mm_video .main > .block {
    background-color: #c5624a;
}*/



/*Border*/

/*.mm_unit8.mm_halloween .colouringContainer,
.mm_unit8.mm_halloween .pelmanismContainer,
.mm_unit8.mm_halloween .hangmanContainer,
.mm_unit8.mm_halloween .rcfMovingTargets,
.mm_unit8.mm_halloween.mm_song .main > .block {
    border: 5px solid #c5624a;
}

.mm_unit8.mm_halloween .wordBox,
.mm_unit8.mm_halloween .mm_wordBox,
.mm_unit8.mm_halloween .mm_wordBox,
.mm_unit8.mm_halloween .rcfWordSearchGridChosenWords .wordSearchWords {
    border-bottom: 4px dotted #c5624a;
}

.mm_unit8.mm_halloween .hangmanInteractionContainer {
    border-top: 3px dotted #f3997b;
}

.mm_unit8.mm_halloween .hangmanContainer .wordContainer .letterContainer {
    border: 2px dotted #f3997b;
}*/

.mm_unit8.mm_halloween .rcfMovingTargets {
    border: 3px solid #f07f30;
}

.mm_unit8.mm_halloween .wordBox {
  border-bottom: 2px dotted #f07f30;
}

/* Audio player */
.mm_unit8.mm_halloween .audioContainer ::-webkit-scrollbar-thumb {
    background-color: #f07f30;
    -webkit-box-shadow: inset 0px 0px 10px 2px #f07f30;
    -moz-box-shadow: inset 0px 0px 10px 2px #f07f30;
    -ms-box-shadow: inset 0px 0px 10px 2px #f07f30;
    box-shadow: inset 0px 0px 10px 2px #f07f30;
}

.mm_unit8.mm_halloween .audio.large .audioInterface, .mm_unit8.mm_halloween .videoPlayerInterface {
    background-color: #f07f30;
}

/*** Controls ***/

.mm_unit8.mm_halloween .owl-theme .owl-dots .owl-dot span,
.mm_unit8.mm_halloween .interactiveImageContainer.spotlight .reveal,
.mm_unit8.mm_halloween .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit8.mm_halloween .inlinePlayer a.audioPlayButton,
.mm_unit8.mm_halloween .inlinePlayer a.audioPauseButton {
    background-color: #f07f30;
}

.mm_unit8.mm_halloween .interactiveImageContainer.spotlight .reveal:active,
.mm_unit8.mm_halloween .main .singleButton:active,
.mm_unit8.mm_halloween .rcfCarousel .singleButton:active,
.mm_unit8.mm_halloween .rcfCarousel .singleButton:active,
.mm_unit8.mm_halloween .rcfCarousel.owl-theme .owl-dots .owl-dot.active span,
.mm_unit8.mm_halloween .inlinePlayerContainer .inlinePlayer a:active {
    border-color: #f07f30;
}

.mm_unit8.mm_halloween .interactiveImageContainer.spotlight .reveal,
.mm_unit8.mm_halloween .main .singleButton,
.mm_unit8.mm_halloween .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit8.mm_halloween .rcfCarousel .navLeftButton,
.mm_unit8.mm_halloween .rcfCarousel .navRightButton,
.mm_unit8.mm_halloween .owl-theme .owl-dots .owl-dot span,
.mm_unit8.mm_halloween .inlinePlayer a,
.mm_unit8.mm_halloween .pelmanismContainer .pelmanismAttempts,
.mm_unit8.mm_halloween .flashcardBlock .mm_button {
	background-color: #f07f30;
}

.mm_unit8.mm_halloween .rcfCarousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #fff;
}

/* hover */
.mm_unit8.mm_halloween .interactiveImageContainer.spotlight .reveal:hover,
.mm_unit8.mm_halloween .main .singleButton:hover,
.mm_unit8.mm_halloween .rcfCarousel .owl-nav [class*='owl-']:hover,
.mm_unit8.mm_halloween .rcfCarousel .navLeftButton:hover,
.mm_unit8.mm_halloween .rcfCarousel .navRightButton:hover,
.mm_unit8.mm_halloween .owl-theme .owl-dots .owl-dot span:hover,
.mm_unit8.mm_halloween .inlinePlayerContainer .inlinePlayer a:hover,
.mm_unit8.mm_halloween .flashcardBlock .mm_button:hover {
    background-color: #f7ad74;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.mm_unit8.mm_halloween .cardContainer .card[data-audiolink] .front:hover img {
    content: url(../images/media/audio_pm_over8h.png);
}

/* Backgrounds */

.mm_unit8.mm_halloween.mm_song .main > .block {
	background-color: #fde2cd;
}
.mm_unit8.mm_halloween.mm_song .mm_audio {
	background-color: #a3647e;
}

.mm_unit8.mm_halloween.mm_video .main > .block {
    background-color: #fde2cd;
}

.mm_unit8.mm_halloween .rcfMovingTargets.complete .gameOver {
    background-color: rgba(255,255,255, 0.6);
}

/* Pelmanism */

.mm_unit8.mm_halloween .cardContainer .card .back {
    background-image: url(../../products/Level_1/assets/images/pumpkin_plm.png);
}

.mm_unit8.mm_halloween .cardContainer .card .front img {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.mm_unit8.mm_halloween .cardContainer .card .back {
		background-color: #fde2cd;
}
.cardContainer .card .front {
    background-color: #fff;
}
.mm_unit8.mm_halloween .cardContainer .flipped.matched.userAnswer.card .front, .mm_unit8.mm_halloween .cardContainer .flipped.matched.userAnswer.card .back {
    border: 1px solid #f07f30;
}

.mm_unit8.mm_halloween .cardContainer .front .imageContainer .caption,
.mm_unit8.mm_halloween .cardContainer .card .front p {
    background-color: #f07f30;
    color: #FFF;
}


/* Pelmanism Complete */

.mm_unit8.mm_halloween .pelmanismContainer.gameOver.completed .gameOverStage {
    background-image: url(../images/complete_8h.png)!important;
		background-size: auto;
		background-position: center;
}

.mm_unit8.mm_halloween .pelmanismContainer.completed {
	animation: pelmanismComplete8h 1s 4 alternate;
	-webkit-animation: pelmanismComplete8h 1s 4 alternate;
	-moz-animation: pelmanismComplete8h 1s 4 alternate;
	-o-animation: pelmanismComplete8h 1s 4 alternate;
}

.isIE.no-csstransforms3d .pelmanismContainer.completed {
	border: 10px solid #FF0000;
}

@-webkit-keyframes pelmanismComplete8h {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #f07f30;
	}
}

@-o-keyframes pelmanismComplete8h {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #f07f30;
	}
}

@keyframes pelmanismComplete8h {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #f07f30;
	}
}

/* Moving Targets complete */

.mm_unit8.mm_halloween .rcfMovingTargets.complete {
	animation: movingTargetsComplete8h 1s 4 alternate;
	-webkit-animation: movingTargetsComplete8h 1s 4 alternate;
	-moz-animation: movingTargetsComplete8h 1s 4 alternate;
	-o-animation: movingTargetsComplete8h 1s 4 alternate;
}

@-webkit-keyframes movingTargetsComplete8h {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #f07f30;
	}
}

@-o-keyframes movingTargetsComplete8h {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #f07f30;
	}
}

@keyframes movingTargetsComplete8h {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #f07f30;
	}
}
