/*** PARTIAL MODULE: THEME UNIT 2, 7 ***/

/*
colors
Unit: #6bb5be
Tint: #63c3d1
Dot: #66acb4
*/

.mm_unit2.activity:before {
	background-image: url(../images/background/2_bg_curve.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
	background-size: 100%;
}
.mm_unit2.mm_video.activity:before {
    background-image: url(../images/background/2_bg_curve.png),
 url(../images/background/2_bg_curve_bottom.png);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100%;
}

/*** MARKED ***/

.mm_unit2 .mm_audioDroppable li.dragItem,
.mm_unit2 .matchingContainer .matchItemContainer .matchItem,
.mm_unit2 .wordBox li.dragItem.selected,
.mm_unit2 .category li.dragItem.selected,
.mm_unit2 li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit2 .droppable .dragTarget.populated.selected,
.mm_unit2.mm_audioDroppable li.dragItem,
.mm_unit2.matchingContainer .matchItemContainer .matchItem,
.mm_unit2 .droppable .dropTarget,
.mm_unit2 .droppable .dragTarget,
.mm_unit2 .complexDroppable .dragTarget,
.mm_unit2 .category {
    border-color: #63c3d1;
}

.mm_unit2 .matchingContainer .matchItem.selected,
.mm_unit2 .matchingContainer .matchItemContainer .matchItem.selected {
    border-color: #6bb5be;
    border-style: solid;
}

.mm_unit2 input.text:focus,
.mm_unit2 textarea.rcfTextArea:focus,
.mm_unit2 .typeinGroup input.typeinGroup:focus,
.mm_unit2 .verticalCrosswordContainer table input:focus,
.mm_unit2 .droppable .populated,
.mm_unit2 li.dragItem.ui-draggable-dragging.dragOverDrop,
.mm_unit2 .dragTarget.populated,
.mm_unit2 .droppable .dragTarget.populated,
.mm_unit2 .wordBox li.dragItem.selected,
.mm_unit2 .category li.dragItem,
.mm_unit2 ul.ordering li.ui-sortable-helper,
.mm_unit2 .categorise input[type="radio"]:checked,
.mm_unit2 .categorise input[type="checkbox"]:checked,
.mm_unit2.mm_imageSelect .radioItemSelect.horizontal .selected,
.mm_unit2.mm_imageSelect .checkboxItemSelect.horizontal .selected,
.mm_unit2.mm_imageSelect .radioItemSelect.vertical .selected,
.mm_unit2.mm_imageSelect .checkboxItemSelect.vertical .selected,
.mm_unit2.mm_imageSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit2.mm_imageSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit2.mm_radioSelect .radioItemSelect.horizontal .selected,
.mm_unit2.mm_radioSelect .checkboxItemSelect.horizontal .selected,
.mm_unit2.mm_radioSelect .radioItemSelect.vertical .selected,
.mm_unit2.mm_radioSelect .checkboxItemSelect.vertical .selected,
.mm_unit2.mm_radioSelect .radioItemSelect.horizontal .selected:first-child,
.mm_unit2.mm_radioSelect .checkboxItemSelect.horizontal .selected:first-child,
.mm_unit2 .mm_wsContainer {
    border-color: #66acb4;
}

/* Matching */
.mm_unit2 .mm_wordItems .matchingContainer .matchItem.selected {
    color: #66acb4;
}

/*.mm_unit2 .matchingContainer svg.showCorrectAnswer path,
.mm_unit2 .matchingContainer svg.userAnswer path,
.mm_unit7 .matchingContainer svg.showCorrectAnswer path,
.mm_unit7 .matchingContainer svg.userAnswer path {
    stroke: #66acb4;
}*/

/*** UNMARKED ***/

/*Background*/


.mm_unit2.mm_song .mm_audio {
    background-color: #63c3d1;
}

.mm_unit2 .rcfMovingTargets.complete .gameOver {
    background-color: rgba(255,255,255, 0.6);
}
.mm_unit2.mm_video .main > .block {
    background-color: #fbdfe7;
}

.mm_unit2.mm_video.activity:before {
    background-image: url(../images/background/2_bg_curve.png),
 url(../images/background/2_bg_curve_bottom.png);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100%;
}

.mm_unit2.mm_song .mm_audio {
    background-color: #989acd;
}

.mm_unit2 .rcfMovingTargets.complete .gameOver {
    background-color: rgba(255,255,255, 0.6);
    /*background-color: rgba(152,154,205, 0.6);*/
    /*background-color: #989acd;*/
}

/*Border*/

/*.mm_unit2 .pelmanismContainer,
.mm_unit2 .colouringContainer,
.mm_unit2 .rcfMovingTargets,
.mm_unit2 .hangmanContainer,
.mm_unit2.mm_song .main > .block {
    border: 5px solid #66acb4;
}

.mm_unit2 .wordBox,
.mm_unit2 .mm_wordBox,
.mm_unit2 .mm_wordBox,
.mm_unit2 .rcfWordSearchGridChosenWords .wordSearchWords {
    border-bottom: 4px dotted #66acb4;
}

.mm_unit2 .hangmanInteractionContainer {
    border-top: 3px dotted #63c3d1;
}

.mm_unit2 .hangmanContainer .wordContainer .letterContainer {
    border: 2px dotted #63c3d1;
}*/

/* Pelmanism */



.mm_unit2 .rcfMovingTargets {
    border: 3px solid #eb6c93;
}

/* Audio player */
.mm_unit2 .audioContainer ::-webkit-scrollbar-thumb {
    background-color: #eb6c93;
    -webkit-box-shadow: inset 0px 0px 10px 2px #eb6c93;
    -moz-box-shadow: inset 0px 0px 10px 2px #eb6c93;
    -ms-box-shadow: inset 0px 0px 10px 2px #eb6c93;
    box-shadow: inset 0px 0px 10px 2px #eb6c93;
}

.mm_unit2 .audio.large .audioInterface, .mm_unit2 .videoPlayerInterface {
    background-color: #eb6c93;
}

/*** Controls ***/

.mm_unit2 .owl-theme .owl-dots .owl-dot span,
.mm_unit2 .interactiveImageContainer.spotlight .reveal,
.mm_unit2 .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit2 .inlinePlayer a.audioPlayButton,
.mm_unit2 .inlinePlayer a.audioPauseButton {
    background-color: #eb6c93;
}

.mm_unit2 .interactiveImageContainer.spotlight .reveal:active,
.mm_unit2 .main .singleButton:active,
.mm_unit2 .rcfCarousel .singleButton:active,
.mm_unit2 .rcfCarousel .singleButton:active,
.mm_unit2 .rcfCarousel.owl-theme .owl-dots .owl-dot.active span,
.mm_unit2 .inlinePlayerContainer .inlinePlayer a:active {
    border-color: #eb6c93;
}

.mm_unit2 .interactiveImageContainer.spotlight .reveal,
.mm_unit2 .main .singleButton,
.mm_unit2 .rcfCarousel .owl-nav [class*='owl-'],
.mm_unit2 .rcfCarousel .navLeftButton,
.mm_unit2 .rcfCarousel .navRightButton,
.mm_unit2 .owl-theme .owl-dots .owl-dot span,
.mm_unit2 .inlinePlayer a,
.mm_unit2 .pelmanismContainer .pelmanismAttempts,
.mm_unit2 .flashcardBlock .mm_button {
	background-color: #eb6c93;
}

/* hover */
.mm_unit2 .interactiveImageContainer.spotlight .reveal:hover,
.mm_unit2 .main .singleButton:hover,
.mm_unit2 .rcfCarousel .owl-nav [class*='owl-']:hover,
.mm_unit2 .rcfCarousel .navLeftButton:hover,
.mm_unit2 .rcfCarousel .navRightButton:hover,
.mm_unit2 .owl-theme .owl-dots .owl-dot span:hover,
.mm_unit2 .inlinePlayerContainer .inlinePlayer a:hover,
.mm_unit2 .flashcardBlock .mm_button:hover {
    background-color: #f39eb6;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.mm_unit2 .cardContainer .card[data-audiolink] .front:hover img {
    content: url(../images/media/audio_pm_over_1.png);
}

/* Backgrounds */

.mm_unit2.mm_song .main > .block {
	background-color: #fbdfe7;
}
.mm_unit2.mm_song .mm_audio {
	background-color: #a3647e;
}

/* Pelmanism */
.mm_unit2 .cardContainer .card .front img {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.mm_unit2 .cardContainer .card .back {
		background-color: #fbdfe7;
}
.cardContainer .card .front {
    background-color: #fff;
}
.mm_unit2 .cardContainer .flipped.matched.userAnswer.card .front, .mm_unit2 .cardContainer .flipped.matched.userAnswer.card .back {
    border: 1px solid #eb6c93;
}

.mm_unit2 .cardContainer .front .imageContainer .caption,
.mm_unit2 .cardContainer .card .front p {
    background-color: #66acb4;
    background-color: rgba(102, 172, 180, 0.93);
    color: #FFF;
}


/* Pelmanism Complete */

.mm_unit2 .pelmanismContainer.completed {
	animation: pelmanismComplete2 1s 4 alternate;
	-webkit-animation: pelmanismComplete2 1s 4 alternate;
	-moz-animation: pelmanismComplete2 1s 4 alternate;
	-o-animation: pelmanismComplete2 1s 4 alternate;
}

.isIE.no-csstransforms3d .pelmanismContainer.completed {
	border: 10px solid #FF0000;
}

@-webkit-keyframes pelmanismComplete2 {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #eb6c93;
	}
}

@-o-keyframes pelmanismComplete2 {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #eb6c93;
	}
}

@keyframes pelmanismComplete2 {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #eb6c93;
	}
}

/* Moving Targets complete */

.mm_unit2 .rcfMovingTargets.complete {
	animation: movingTargetsComplete2 1s 4 alternate;
	-webkit-animation: movingTargetsComplete2 1s 4 alternate;
	-moz-animation: movingTargetsComplete2 1s 4 alternate;
	-o-animation: movingTargetsComplete2 1s 4 alternate;
}

@-webkit-keyframes movingTargetsComplete2 {
	0% {
		-webkit-transform: scale(1);
		box-shadow: 3px 3px 19px #FFF;
	}
	50% {
		-webkit-transform: scale(0.98);
	}
	100% {
		-webkit-transform: scale(1.02);
		box-shadow: 2px 2px 19px #eb6c93;
	}
}

@-o-keyframes movingTargetsComplete2 {
	0% {
		box-shadow: 3px 3px 19px #FFF;
	}
	100% {
		box-shadow: 2px 2px 19px #eb6c93;
	}
}

@keyframes movingTargetsComplete2 {
	0% {
		box-shadow: 3px 3px 19px #aaa;
	}
	100% {
		box-shadow: 2px 2px 19px #eb6c93;
	}
}
